nav {
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between
}

span {
  font-family: "Bungee", sans-serif;
  display: flex;
  align-items: center;
  font-size: 18px;
}

a {
  display: flex;
  align-items: center;
}

.content-right {
text-align: center;
}